<!DOCTYPE html>
<html>

<head>
    <title>Contact</title>
</head>

<body>
    <h1>Hi there</h1>
    <div class="row">

        <!-- Form -->
            <div class="col-md-6">
                <h6>Fill out the following form to contact us: </h6>
                <form action="" class="mb-5">
                    <div class="form-group">
                        <label for="nya">Name & Surname</label>
                        <input type="text" class="form-control" id="nya" aria-describedby="nyaHelp" required>
                        <small id="nyaHelp" class="form-text text-muted">Example: Charless Tower</small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                        <small id="emailHelp" class="form-text text-muted">Example: charless@mail.com</small>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" id="asunto" aria-describedby="asuntoHelp" required>
                        <small id="asuntoHelp" class="form-text text-muted">Example: Asq for Services</small>
                    </div>
                    <div class="form-group">
                        <label for="message">Mesagge</label>
                        <textarea class="form-control" id="mensaje" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
</body>

</html>